@using Riverside.Cms.Applications.Web.Mvc.Extensions
@using Riverside.Cms.Services.Core.Domain
@using Riverside.Cms.Services.Element.Domain

@model IElementViewModel<PageListElementSettings, PageListElementContent>

<div class="rcms-page-list">

    @if (Model.View.Content.DisplayName != null)
    {
        <h2>@Model.View.Content.DisplayName</h2>
    }

    @if (Model.View.Settings.Preamble != null)
    {
        <p class="rcms-preamble">@Html.FormatMultiline(Model.View.Settings.Preamble)</p>
    }

    @if (Model.View.Content.NoPagesMessage != null)
    {
        <div class="rcms-page-list-no-items">
            <p>@Model.View.Content.NoPagesMessage</p>
        </div>
    }

    @if (Model.View.Content.Pages.Any())
    {
        <div class="rcms-page-list-pages">
            @foreach (PageListPage pageListPage in Model.View.Content.Pages)
            {
            <div class="rcms-page-list-item" @if (pageListPage.BackgroundImage != null ) {<text>style="background-image: url(@Url.RouteUrl(RouteNames.PageImage, new { pageid = pageListPage.BackgroundImage.PageId, pageImageType = "thumbnail", description = Url.UrlFriendly(pageListPage.Name), t = pageListPage.BackgroundImage.BlobId}));"</text>}>
                @if (Model.View.Settings.ShowBackgroundImage)
                {
                    @Html.Raw("<div class=\"rcms-page-list-item-content\">")
                }
                <h3>@Html.PageLink(pageListPage.Name, pageListPage.PageId, pageListPage.Name, pageListPage.Home, null, null)</h3>
                @if (pageListPage.Description != null)
                {
                    @Html.MarkdownToHtml(pageListPage.Description)
                }
                @if (pageListPage.Image != null)
                {
                    <a href="@Url.PageUrl(pageListPage.PageId, pageListPage.Name, pageListPage.Home, null, null)">
                        <div class="media-object">
                            <img 
                                 src="@Url.RouteUrl(RouteNames.PageImage, new { pageid = pageListPage.Image.PageId, pageImageType = "thumbnail", description = Url.UrlFriendly(pageListPage.Name), t = pageListPage.Image.BlobId})" alt="@pageListPage.Name"
                                 width="@pageListPage.Image.Width"
                                 height="@pageListPage.Image.Height"
                            />
                        </div>
                    </a>
                }
                @if (pageListPage.Created.HasValue || pageListPage.Updated.HasValue || pageListPage.Occurred.HasValue)
                {
                    <dl>
                        @if (pageListPage.Created.HasValue)
                        {
                            <dt class="created">Posted</dt>
                            <dd class="created">@Html.Date(pageListPage.Created.Value)</dd>
                        }
                        @if (pageListPage.Updated.HasValue)
                        {
                            <dt class="updated">Updated</dt>
                            <dd class="updated">@Html.Date(pageListPage.Updated.Value)</dd>
                        }
                        @if (pageListPage.Occurred.HasValue)
                        {
                            <dt class="occurred">@if (pageListPage.OccursInFuture) {<text>Occurs</text>} else {<text>Occurred</text>}</dt>
                            <dd class="occurred">@Html.Date(pageListPage.Occurred.Value)</dd>
                        }
                    </dl>
                }
                @if (pageListPage.Tags.Any())
                {
                    <ul class="tags">
                        @foreach (Tag tag in pageListPage.Tags)
                        {<li class="tag-available">@Html.PageLink(tag.Name, Model.View.Content.CurrentPage.PageId, Model.View.Content.CurrentPage.Name, Model.View.Content.CurrentPage.Home, new[] { tag.Name }, null)</li>}
                    </ul>
                }
                @if (Model.View.Settings.ShowBackgroundImage)
                {
                    @Html.Raw("</div>")
                }
            </div>
            }
        </div>
    }

    @if (Model.View.Content.Pager != null)
    {
        int rollingButtonCount = 2;
        int beginPageIndex = Math.Max(Model.View.Content.Pager.PageIndex - rollingButtonCount, 0);
        int endPageIndex = Math.Min(Model.View.Content.Pager.PageIndex + rollingButtonCount, Model.View.Content.Pager.PageCount - 1);
        IEnumerable<string> tagNames = Model.View.Content.Tags?.Select(t => t.Name);
        <div class="rcms-page-list-pager">
            <div class="row">
                <div class="pager-text">
                    <p>Page @(Model.View.Content.Pager.PageIndex + 1) of @Model.View.Content.Pager.PageCount</p>
                </div>
                <div class="pager-pagination">
                    <ul class="pagination">
                        <li @if (Model.View.Content.Pager.PageIndex == 0) {<text>class="disabled"</text>}><a href="@Url.PageUrl(Model.View.Content.CurrentPage.PageId, Model.View.Content.CurrentPage.Name, Model.View.Content.CurrentPage.Home, tagNames, null)"><i class="fa fa-fw fa-angle-double-left"></i> <span class="pager-button-label">First</span></a></li>
                        <li @if (Model.View.Content.Pager.PageIndex == 0) {<text>class="disabled"</text>}><a href="@Url.PageUrl(Model.View.Content.CurrentPage.PageId, Model.View.Content.CurrentPage.Name, Model.View.Content.CurrentPage.Home, tagNames, Model.View.Content.Pager.PageIndex > 1 ? new { page = Model.View.Content.Pager.PageIndex } : null)"><i class="fa fa-fw fa-angle-left"></i> <span class="pager-button-label">Previous</span></a></li>
                        @for (int pageIndex = beginPageIndex; pageIndex <= endPageIndex; pageIndex++)
                        {
                            <li @if (Model.View.Content.Pager.PageIndex == pageIndex) {<text>class="active"</text>}><a href="@Url.PageUrl(Model.View.Content.CurrentPage.PageId, Model.View.Content.CurrentPage.Name, Model.View.Content.CurrentPage.Home, tagNames, pageIndex != 0 ? new { page = pageIndex + 1 } : null)">@(pageIndex + 1)@if (Model.View.Content.Pager.PageIndex == pageIndex) {<text> <span class="sr-only">(current)</span></text>}</a></li>
                        }
                        <li @if (Model.View.Content.Pager.PageIndex == Model.View.Content.Pager.PageCount - 1) {<text>class="disabled"</text>}><a href="@Url.PageUrl(Model.View.Content.CurrentPage.PageId, Model.View.Content.CurrentPage.Name, Model.View.Content.CurrentPage.Home, tagNames, new { page = Math.Min(Model.View.Content.Pager.PageIndex + 2, Model.View.Content.Pager.PageCount) })"><i class="fa fa-fw fa-angle-right"></i> <span class="pager-button-label">Next</span></a></li>
                        <li @if (Model.View.Content.Pager.PageIndex == Model.View.Content.Pager.PageCount - 1) {<text>class="disabled"</text>}><a href="@Url.PageUrl(Model.View.Content.CurrentPage.PageId, Model.View.Content.CurrentPage.Name, Model.View.Content.CurrentPage.Home, tagNames, new { page = Model.View.Content.Pager.PageCount })"><i class="fa fa-fw fa-angle-double-right"></i> <span class="pager-button-label">Last</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (Model.View.Content.MoreMessage != null)
    {
        <div class="rcms-page-list-more">
            <p>@Html.PageLink(Model.View.Content.MoreMessage, Model.View.Content.MorePage.PageId, Model.View.Content.MorePage.Name, Model.View.Content.MorePage.Home, null, null)</p>
        </div>
    }

</div>