@using Riverside.Cms.Applications.Web.Mvc.Extensions
@using Riverside.Cms.Services.Element.Client

@model IElementViewModel<CarouselElementSettings, CarouselElementContent>

<div class="rcms-carousel">

    <ul>
        @if (!Model.View.Settings.Slides.Any())
        {
            <li>
                <div class="rcms-carousel-slide">
                    <div class="rcms-carousel-slide-info">
                        <h2>Carousel has no slides</h2>
                        <p>Edit carousel to add slides.</p>
                    </div>
                </div>
            </li>
        }
        else
        {
            foreach (CarouselSlide slide in Model.View.Settings.Slides)
            {
                if (Model.View.Content.Slides.ContainsKey(slide.BlobSetId))
                {
                    CarouselContentSlide contentSlide = Model.View.Content.Slides[slide.BlobSetId];
                    <li>
                        <div class="rcms-carousel-slide" style="background-image: url(@Url.RouteUrl(RouteNames.ElementBlobContent, new { elementtypeid = Model.View.Settings.ElementTypeId, elementid = Model.View.Settings.ElementId, blobsetid = slide.BlobSetId, bloblabel = "preview", t = slide.PreviewImageBlobId }));">
                            @if (slide.Name != null || slide.Description != null || contentSlide.Button != null)
                            {
                                <div class="rcms-carousel-slide-info">
                                    @if (slide.Name != null)
                                    {
                                        <h2>@slide.Name</h2>
                                    }
                                    @if (slide.Description != null)
                                    {
                                        <p>@slide.Description</p>
                                    }
                                    @if (contentSlide.Button != null)
                                    {
                                        <a role="button" href="@Url.PageUrl(contentSlide.Button.PageId, contentSlide.Button.Name, contentSlide.Button.Home, null, null)">@(contentSlide.Button.ButtonText ?? contentSlide.Button.Name)</a>
                                    }
                                </div>
                            }
                        </div>
                    </li>
                }
            }
        }
    </ul>

</div>

@{ 
    this.Context.Items["script_jquery"] = new ScriptInclude { Priority = 1, Name = "jquery.min.js" };
    this.Context.Items["script_slick"] = new ScriptInclude { Priority = 3, Name = "slick.min.js" };
    this.Context.Items["script_carousel"] = new ScriptInclude { Priority = 4, Name = "element-carousel.js" };
}