@using Riverside.Cms.Applications.Web.Mvc.Extensions
@using Riverside.Cms.Services.Element.Client

@model IElementView<AlbumElementSettings, AlbumElementContent>

<div class="rcms-album">

    @if (!Model.Content.Photos.Any())
    {
        <div class="rcms-album-photo-info">
            <h2>Album has no photos</h2>
            <p>Edit album to add photos.</p>
        </div>
    }
    else
    {
        <div class="rcms-album-photos">
            @{
                int index = -1;
                foreach (AlbumPhoto photo in Model.Settings.Photos)
                {
                    index++;
                    AlbumContentPhoto contentPhoto = Model.Content.Photos.ContainsKey(photo.BlobSetId) ? Model.Content.Photos[photo.BlobSetId] : null;
                    string previewImageUrl = Url.RouteUrl(RouteNames.ElementBlobContent, new { elementtypeid = Model.Settings.ElementTypeId, elementid = Model.Settings.ElementId, blobsetid = photo.BlobSetId, bloblabel = "preview", t = photo.PreviewImageBlobId });
                    <div class="rcms-album-photo">
                        <a
                           data-index="@index"
                           data-description="@photo.Description"
                           title="@photo.Name"
                           href="@previewImageUrl"
                        >
                            <img width="@contentPhoto.ThumbnailWidth"
                                 height="@contentPhoto.ThumbnailHeight"
                                 alt="@photo.Name"
                                 src="@Url.RouteUrl(RouteNames.ElementBlobContent, new { elementtypeid = Model.Settings.ElementTypeId, elementid = Model.Settings.ElementId, blobsetid = photo.BlobSetId, bloblabel = "thumbnail", t = photo.ThumbnailImageBlobId })" />
                        </a>
                    </div>
                }
            }
        </div>
    }

</div>

@{
    this.Context.Items["script_jquery"] = new ScriptInclude { Priority = 1, Name = "jquery.min.js" };
    this.Context.Items["script_album"] = new ScriptInclude { Priority = 4, Name = "element-album.js" };
}
