@using Riverside.Cms.Applications.Web.Mvc.Extensions
@using Riverside.Cms.Services.Element.Client

@model IElementView<TestimonialElementSettings, object>

<div class="rcms-testimonials">

    @if (Model.Settings.DisplayName != string.Empty)
    {
        <h2>@Model.Settings.DisplayName</h2>
    }

    @if (Model.Settings.Preamble != string.Empty)
    {
        <p class="rcms-preamble">@Html.FormatMultiline(Model.Settings.Preamble)</p>
    }

    <ul>
        @if (!Model.Settings.Testimonials.Any())
        {
            <li>
                <div class="rcms-testimonial">
                    <div class="rcms-testimonial-info">
                        <p class="comment">No testimonials found. Edit testimonial to add some!</p>
                    </div>
                </div>
            </li>
        }
        @foreach (Testimonial testimonial in Model.Settings.Testimonials)
        {
            <li>
                <div class="rcms-testimonial">
                    <div class="rcms-testimonial-info">
                        @if (testimonial.Comment != string.Empty) { <p class="comment">@testimonial.Comment</p> }
                        @if (testimonial.Author != string.Empty) { <p class="author">@testimonial.Author</p> }
                        @if (testimonial.AuthorTitle != string.Empty) { <p class="author-title">@testimonial.AuthorTitle</p> }
                        @if (testimonial.Date != string.Empty) { <p class="comment-date">@testimonial.Date</p> }
                    </div>
                </div>
            </li>
        }
    </ul>

</div>