@using RiversideCms.Mvc.Extensions
@using Riverside.Cms.Services.Core.Client
@using Riverside.Cms.Services.Element.Client

@model ElementView

@{ 
    PageHeaderElementSettings settings = (PageHeaderElementSettings)Model.Settings;
    PageHeaderElementContent content = (PageHeaderElementContent)Model.Content;
    bool showThumbnailImage = settings.ShowImage && content.Page.ThumbnailImageBlobId.HasValue && content.Images.ContainsKey(content.Page.ThumbnailImageBlobId.Value);
    bool showUpdated = settings.ShowUpdated && !(settings.ShowCreated && (content.Page.Created.Date == content.Page.Updated.Date));
    bool showOccurred = settings.ShowOccurred && content.Page.Occurred.HasValue;
    bool occursInFuture = showOccurred && content.Page.Occurred.Value > DateTime.UtcNow;
}

<div class="rcms-page-header">

    @if (settings.ShowName)
    {
        <h1>@content.Page.Name</h1>
    }

    @if (settings.ShowDescription && content.Page.Description != null)
    {
        @Html.MarkdownToHtml(content.Page.Description)
    }

    @if (showThumbnailImage)
    {
        <div class="media-object">
            <img 
                 src="@Url.RouteUrl("PageImage", new { pageid = content.Page.PageId, pageImageType = "thumbnail", description = Url.UrlFriendly(content.Page.Name), t = content.Page.ThumbnailImageBlobId})" alt="@content.Page.Name"
                 width="@content.Images[content.Page.ThumbnailImageBlobId.Value].Width"
                 height="@content.Images[content.Page.ThumbnailImageBlobId.Value].Height"
            />
        </div>
    }

    @if (settings.ShowCreated || showUpdated || showOccurred)
    {
        <dl>
            @if (settings.ShowCreated)
            {
                <dt>Posted</dt>
                <dd>@Html.Date(content.Page.Created)</dd>
            }
            @if (showUpdated)
            {
                <dt>Updated</dt>
                <dd>@Html.Date(content.Page.Updated)</dd>
            }
            @if (showOccurred)
            {
                <dt>@if (occursInFuture)
                {<text>Occurs</text> }
            else
            { <text>Occurred</text>}</dt>
                <dd>@Html.Date(content.Page.Occurred.Value)</dd>
            }
        </dl>
    }

    @if (settings.ShowBreadcrumbs)
    {
        <ol class="breadcrumb">
            @foreach (PageHeaderBreadcrumb breadcrumb in content.Breadcrumbs)
            {
                <li>@Html.PageLink(breadcrumb.Name, breadcrumb.PageId, breadcrumb.PageName, breadcrumb.Home)</li>
            }
        </ol>
    }

</div>