@using RiversideCms.Mvc.Extensions
@using Riverside.Cms.Services.Core.Client
@using Riverside.Cms.Services.Element.Client

@model ElementView<PageHeaderElementSettings, PageHeaderElementContent>

@{
    bool showThumbnailImage = Model.Settings.ShowImage && Model.Content.Page.ThumbnailImageBlobId.HasValue && Model.Content.Images.ContainsKey(Model.Content.Page.ThumbnailImageBlobId.Value);
    bool showUpdated = Model.Settings.ShowUpdated && !(Model.Settings.ShowCreated && (Model.Content.Page.Created.Date == Model.Content.Page.Updated.Date));
    bool showOccurred = Model.Settings.ShowOccurred && Model.Content.Page.Occurred.HasValue;
    bool occursInFuture = showOccurred && Model.Content.Page.Occurred.Value > DateTime.UtcNow;
}

<div class="rcms-page-header">

    @if (Model.Settings.ShowName)
    {
        <h1>@Model.Content.Page.Name</h1>
    }

    @if (Model.Settings.ShowDescription && Model.Content.Page.Description != null)
    {
        @Html.MarkdownToHtml(Model.Content.Page.Description)
    }

    @if (showThumbnailImage)
    {
        <div class="media-object">
            <img 
                 src="@Url.RouteUrl("PageImage", new { pageid = Model.Content.Page.PageId, pageImageType = "thumbnail", description = Url.UrlFriendly(Model.Content.Page.Name), t = Model.Content.Page.ThumbnailImageBlobId})" alt="@Model.Content.Page.Name"
                 width="@Model.Content.Images[Model.Content.Page.ThumbnailImageBlobId.Value].Width"
                 height="@Model.Content.Images[Model.Content.Page.ThumbnailImageBlobId.Value].Height"
            />
        </div>
    }

    @if (Model.Settings.ShowCreated || showUpdated || showOccurred)
    {
        <dl>
            @if (Model.Settings.ShowCreated)
            {
                <dt>Posted</dt>
                <dd>@Html.Date(Model.Content.Page.Created)</dd>
            }
            @if (showUpdated)
            {
                <dt>Updated</dt>
                <dd>@Html.Date(Model.Content.Page.Updated)</dd>
            }
            @if (showOccurred)
            {
                <dt>@if (occursInFuture)
                {<text>Occurs</text> }
            else
            { <text>Occurred</text>}</dt>
                <dd>@Html.Date(Model.Content.Page.Occurred.Value)</dd>
            }
        </dl>
    }

    @if (Model.Settings.ShowBreadcrumbs)
    {
        <ol class="breadcrumb">
            @foreach (PageHeaderBreadcrumb breadcrumb in Model.Content.Breadcrumbs)
            {
                <li>@Html.PageLink(breadcrumb.Name, breadcrumb.PageId, breadcrumb.PageName, breadcrumb.Home)</li>
            }
        </ol>
    }

</div>