<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/forms.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/cms.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<body>
    <div class="flib-side-bar" id="adminBar">
        <ul class="flib-side-bar-options" v-cloak>
            <li v-show="loggedIn"><a href="~/admin" title="Home"><i class="fa fa-fw fa-home"></i></a></li>
            <li v-show="loggedIn"><a href="~/admin/web" title="Website"><i class="fa fa-fw fa-globe"></i></a></li>
            <li v-show="loggedIn" class="active"><a href="~/admin/pages" title="Pages"><i class="fa fa-fw fa-files-o"></i></a></li>
            <li v-show="!loggedIn"><a href="~/account/login" title="Login"><i class="fa fa-fw fa-user"></i></a></li>
            <li v-show="loggedIn"><a href="~/account/logout" v-on:click.prevent="logout" title="Logout"><i class="fa fa-power-off"></i></a></li>
        </ul>
    </div>
    <div class="flib-main" id="adminPage">
        @RenderBody()
    </div>
    <script src="~/js/vue.min.js" asp-append-version="true"></script>
    <script src="~/js/axios.min.js" asp-append-version="true"></script>
    <script src="~/js/forms.js" asp-append-version="true"></script>
    <script>
        var conf = (function () {
            return {
                accountApiPathname() {
                    return '/api/v1/account';
                },
                elementsApiPathname() {
                    return '/api/v1/element/elementtypes';
                },
                coreElementsApiPathname() {
                    return '/api/v1/core/elementtypes';
                },
                masterPagesApiPathname() {
                    return '/api/v1/core/masterpages';
                },
                pagesApiPathname() {
                    return '/api/v1/core/pages';
                },
                pagesPathname() {
                    return '/admin/pages';
                },
                homePathname() {
                    return '/admin';
                },
                loginPathname() {
                    return '/admin/login';
                },
                webApiPathname() {
                    return '/api/v1/core/web';
                },
                webPathname() {
                    return '/admin/web';
                }
            };
        })();
    </script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    <script src="~/js/admin-layout.js" asp-append-version="true"></script>
    <script>layout.initialise();</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
